html {
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    outline: 0;
    
}

body {
    background-image: url("../images/background-2.jpg");
    background-attachment: fixed;
    background-size: 100%;
    margin: 0%;
    position: relative;
    padding: 84px 0px 40px 0px;
    
}
main {
    font-weight: bold;
}

header {
    background-color: rgba(0,0,0,1);
    padding: 0px 1px 0px 1px;
    outline: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999999;
    
}

header h1 {
    font-family: 'Abel', sans-serif;
    font-size: 40px;
    margin: 0%;
}

h1 {
    color: ghostwhite;
    margin-top: 0;
}

header a {
    color: darkgray;
    text-decoration: none;
    transition: 0.2s;
}

header a:hover {
    color: #b5382f;
    text-decoration: none;
    transition: 0.2s;
}


.logo {
    width: 47%;
    padding: 0%;
    margin: 0%;
    display: inline-block;
}



.botonera {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 25px;
    width: 50%;
    padding: 0px 0px 0px 20px;
    margin: -85px 0px 0px 0px;
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.botonera a{
    padding: 0px 6px 0px 10px;
    
}

.celular {
    display: none;
}


h3 {
    margin: 0;
}

button {
    color: darkgray;
    font-size: 15px;
    align-content: center;
    background-color: black;
    border-radius: 5px;
    border-color: black;
    transition: 0.7s;
    padding: 10px 20px;
    border: 0;
    outline: 0;
}

button:hover {
    color: black;
    background-color: #b5382f;
    transition: 0.7s;
    border-color: #b5382f;
}


footer {
    color: #b5382f;
    padding: 0px 10px 0px 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: left;
    background-color: rgba(0,0,0,0.9);
    margin: auto;
    margin-bottom: -9%;
    
}

footer h2 {
    color: #b5382f;
    text-align: left;
}

h2 {
    margin: 0;
    padding: 0;
}

footer p {
    text-align: right;
    margin: 0;
}

footer ul {
    padding: 0px 0px 0px 15px;
    margin: 0;
    
}



/* CODIGO RESPONSIVE */

@media(max-width: 800px) {
    
    html {
        width: 140%;
    }
    
    header {
        display: flex;
        width: 100%;
    }
    
    .botonera {
        display: none;
        
    }
    
    
    .logo img {
        width: 100%
    }
    
    .logo {
        width: 80%;
        padding: 0%;
        margin: 0%;
        display: inline-block;
    }

    
     nav .material-icons {
        font-family: 'Material Icons';
        font-size: 70px;
        display: inline-block;
        text-align: right;
        color: #b5382f;
        margin-top: auto;
        vertical-align: middle;
    }
    
    nav.botonera {
		display: none;
		position: absolute;
		top: 180%;
		right: 0;
        left: 0;
		background-color: rgba(0,0,0,0.9);
		padding: 5px 5%;
        width: 140%;
	}

	nav.botonera a {
		display: block;
        text-align: left;
	}

	nav.celular {
		display: block;
        margin: auto;
        text-align: right;
	}
    
    main {
        font-weight: bold;
        margin-bottom: 20%;
    }
    
    footer {
        font-size: 25px;
    }
    
}