hr {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 0;
    margin-top: 0;
}

h3 {
    text-align: center;
    color: ghostwhite;
    padding: 1%;
    text-decoration: none;
    transition: 0.2s;
    margin: auto;
    display: inline-block;
}

a {
    text-decoration: none;
    transition: 0.2s;

}

a:hover {
    color: #b5382f;
    text-decoration: none;
    transition: 0.2s;
}

h3:hover {
    color: #b5382f;
    text-decoration: none;
    transition: 0.2s;
    margin: auto;
    display: inline-block;
}

.carousel-title {
    z-index: 2;
    position: absolute;
    top: 160;
    left: 350;
    right: 350;
    background-color: rgba(0,0,0,0.6);
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 5px;
    text-align: center;
}

.carousel-title h1 {
    margin: 3%
}


#contenedor-slider {
  margin: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 105%;
}

.slider {
  display: flex;
  width: 600%;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
}

.btn-prev, .btn-next {
  width: 40px;
  height: 70px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  line-height: 70px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 10%;
  font-family: monospace;
  cursor: pointer;
  color: white;
  vertical-align: middle;
}

.btn-prev:hover, .btn-next:hover {
  background-color: black;
}

.btn-prev {
  left: 10px;
}

.btn-next {
  right: 10px;
}


#sinopsis {
    background-color: rgba(0,0,0,0.6);
    color: ghostwhite;
    padding: 0% 9px;
    text-align: justify;
    margin: auto;
    display: inline-block;
}

.video {
    display: inline-block;
    width: 43%;
}

.sinopsis {
    display: inline-block;
    width: 56%;
}

#sinopsis h1 {
    text-align: center;
    margin: 0;
}

#sinopsis p {
    margin: 10px;
    padding: 0;
}

#personajes {
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    margin: auto;
    
}

.personajes {
    background-color: rgba(0, 0, 0,0.5);
    padding: 0.5%;
    margin: 0.5%;
    border: 0;
    border-radius: 5px;
    display: inline-block;
    width: 17%;
    text-align: center;
    vertical-align: middle;
    color: black;
    height: auto;
}


.personajes p {
    text-align: center;
    color: ghostwhite;
}

.personajes-filas img {
    width: 100%;
    height: 50%;
}



.filas img {
    width: 100%;
    height: 50%;
}

#temporadas {
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    margin: auto;

}

.temporadas {
    background-color: rgba(0, 0, 0,0.5);
    padding: 0.5%;
    margin: 0.5%;
    border: 0;
    border-radius: 5px;
    display: inline-block;
    width: 14%;
    text-align: center;
    vertical-align: middle;
    color: ghostwhite;
    height: auto;
    
}

#libros {
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    margin: auto;

}

.libros {
    background-color: rgba(0, 0, 0,0.5);
    padding: 0.5%;
    margin: 0.5%;
    border: 0;
    border-radius: 5px;
    display: inline-block;
    width: 17%;
    text-align: center;
    vertical-align: middle;
    color: ghostwhite;
    height: auto;
    font-size: 18px;
    
}



@media(max-width: 800px) {
    
    #contenedor-slider {
        margin: auto;
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 70%;
    }

    .carousel-title {
        z-index: 2;
        position: absolute;
        top: 110;
        left: 20%;
        right: 20%;
        background-color: rgba(0,0,0,0.6);
        padding: 0;
        margin: 0;
        border: 0;
        border-radius: 5px;
        text-align: center;
    }

    .sinopsis {
        display: block;
        width: 100%;
    }
    
    .sinopsis p {
        font-size: 25px;
    }
    
    .video {
        display: block;
        width: 100%;
        text-align: center;
    }
    
    .personajes {
        background-color: rgba(0, 0, 0,0.5);
        padding: 0.5%;
        margin: 0.5%;
        border: 0;
        border-radius: 5px;
        display: block;
        width: 98%;
        text-align: center;
        vertical-align: middle;
        color: black;
        height: auto;
    }
    
    .personajes p {
        font-size: 30px;
    }
    
    h1 {
        font-size: 45px;
    }
    
    h3 {
        font-size: 40px;
    }
    
    .temporadas {
        background-color: rgba(0, 0, 0,0.5);
        padding: 0.5%;
        margin: 0.5%;
        border: 0;
        border-radius: 5px;
        display: block;
        width: 98%;
        text-align: center;
        vertical-align: middle;
        color: ghostwhite;
        height: auto;
    }
    
    .temporadas p {
        font-size: 30px;
    }
    
    .libros {
        background-color: rgba(0, 0, 0,0.5);
        padding: 0.5%;
        margin: 0.5%;
        border: 0;
        border-radius: 5px;
        display: block;
        width: 98%;
        text-align: center;
        vertical-align: middle;
        color: ghostwhite;
        height: auto;
        font-size: 30px;
    }
    

}
