body {
    padding: 96px 0px 30px 0px;   
}

#temporadas h1, h2 {
    text-align: center;
    color: ghostwhite;
}

#temporadas h1 {
    margin: 0;
}

#temporadas {
    background-color: rgba(0,0,0,0.6);
    color: ghostwhite;
    padding: 1%;
    margin: auto;
}

footer h2 {
    text-align: left;
    color: #b5382f;
}

.video {
    display: block;
    width: 42%;
    margin: auto;
    padding: 1%;
    text-align: center;
    vertical-align: top;
}

.trama {
    display: block;
    width: 100%;
    text-align: justify;
}

.celular {
    display: none;
}

@media(max-width: 800px) {
    
    .computadora {
        display: none;
    }
    
    .celular {
        display: block;
    }
    
    .video {
    display: block;
    width: 100%;
    margin: auto;
    padding: 1%;
    text-align: center;
}
    
    .trama {
        width: 98%;
        color: ghostwhite;
        text-align: justify;
        display: block;
        font-size: 25px;
    }
    
    #temporadas h1 {
        font-size: 50px;
    }
    
    #temporadas h2 {
        font-size: 35px;
    }
    
}
